@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lumanosimo&display=swap');

* {
    font-family: 'Lumanosimo', cursive;
    box-sizing: border-box;
}

#top-section {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-left: 15px;
}

#deku-large {
    width: 400px;
    border-radius: 10px;
}

.small {
    font-size: 4px;
}

.medium {
    font-size: 8px;
}

.red {
    color: red;
}