@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import url(https://unpkg.com/open-props/open-props.min.css);
@import url(https://unpkg.com/open-props/normalize.min.css); */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



nav,
.main-section {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* body { } */


#wrap {
  margin: 0 auto;
  /* border: 1px solid blue; */
  width: 90%;
}


nav {
  background-color: whitesmoke;
  margin: 0;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 601px) {
  nav ul {
    margin: 0;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li a {
  display: block;
  line-height: 1em;
  padding: 1em 1em;
  text-decoration: none;
  color: black;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a.logo {
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  color: blue;
}

.logo-img {
  width: 32px;
  height: 32px;
}


.main-section {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0;
  /* min-height: 100vh; */
  text-align: center;
}

.product-images-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1% 15%;

  /* top/bottom / right/left */
}

.product-image {
  max-height: 162px;
  min-width: 198px;
  padding: 3% 3% 1%;
  /* top - right/left - bottom */
}

.product-price {
  margin-bottom: 5%;
}



.home-image {
  padding: 2%;

  max-height: 330px;
  max-width: 330px;
}

/* ToDo: change this */
/* applies to all elements on all pages, which is not good */
/* h1, */
p {
  padding: 1% 5%;
}


/* contact */

.my-form {
  background-color: aliceblue;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  /* place-items: left; */
  align-items: left;
;

}

.form-group {
  margin-bottom: 5%;
}

input, label {
  display:block;
}


.footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;

}

/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 4px;
} */

.fa:hover {
  opacity: 0.7;
}

/* .fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
} */

/* .fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
} */